{% extends 'base.html' %}

{% block title %}Lista de Tareas{% endblock %}

{% block content %}
<section class="container mt-5">
    <h1 class="mb-3 text-center">Lista de Tareas</h1>
    <a href="{{ url_for('todo.create') }}" class="btn btn-primary mb-3">Nueva Tarea</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Tarea</th>
                <th>Estado</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todos %}
            <tr>
                <td>{{ todo.title }}</td>
                <td>{{ "Completada" if todo.state else "Pendiente" }}</td>
                <td>
                    <a href="#" class="btn btn-info btn-sm">Editar</a>
                    <a href="#" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}

# AJUSTAREMOS

<td>
    <a href="{{ url_for('todo.edit_todo', id=todo.id) }}" class="btn btn-info btn-sm">Editar</a>
</td>

# añadiremos actualizacion a la vista del bolton de actuazaliza

<td>
    <form action="{{ url_for('todo.delete_todo', id=todo.id) }}" method="post" style="display: inline;">
        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar esta tarea?')">
            Eliminar
        </button>
    </form>
</td>
